<a href='/beers/{{id}}'><img src="{{image_url}}" onerror="if (this.src != 'error.jpg') this.src = '../../images/imgifnotfound.png'" alt="{{name}}"></a>
<h2>{{name}}</h2>
<p id="tagline">{{tagline}}</p>
<p>{{description}}</p>