<a href='/beers/{{id}}'><img src="{{image_url}}" onerror="if (this.src != 'error.jpg') this.src = '../../images/imgifnotfound.png'" alt="{{name}}"></a>
<h2>{{name}}</h2>
<p><span>Description: </span>{{description}}</p>
<p><span>Tagline: </span>{{tagline}}</p>